body {
  font-family: 'Poppins', sans-serif;
  background-color: #222;
  color: #333;
  margin: 0;
  padding: 20px;
}

header {
  color: #ececec;
  padding: 30px;
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #333;
  border-radius: 10px;
}

.header-logo{
  width: 80px;
  height: auto;
  border-radius: 10px;
  position: absolute;
  left: 20px;
}

.carrinho-button{
    margin: 20px;
    position: absolute;
    right: 20px;
  }

.carrinho-button button {
    color: white;
    background-color: #d32f2f;
    padding: 10px 15px;
    margin: 8px 0px;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
  }

carrinho-button button:hover {
    background-color: #e05656;
  }


nav {
  margin: 20px 0;
  text-align: center;
}
nav a {
  color: #ececec;
  background-color: #d32f2f;
  padding: 10px 15px;
  margin: 0 10px;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}
nav a:hover {
  background-color: #e05656;
}

h2{
  color: #ececec;

}

.album-author {
  font-size: 1em;
  color: #ececec;
  cursor: pointer;
  margin: 0;
  transition: color 0.3s ease;}

.content {
  margin: 20px auto;
  max-width: 800px;
}


.album {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 20px;
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(88, 83, 83, 0.1);
  margin: 20px 0;
  transition: transform 0.2s;
}
.album:hover {
  transform: scale(1.02);
}
.album img {
  width: 100px;
  border-radius: 10px;
  border: 2px solid #ff6363;
}
.album-title {
  font-size: 1.2em;
  color: #ececec;
  cursor: pointer;
  margin: 0;
  transition: color 0.3s ease;
}
.album-title:hover {
  text-decoration: underline;
  color: #ff6363;
}
.album-details {
  display: none;
  color: #ececec;
  margin-top: 10px;
}

.preco{
  color: #d32f2f;
}

.adc_carrinho {
  margin: 20px 0;
  text-align: center;
}
.adc_carrinho {
  color: #ececec;
  background-color: #d32f2f;
  padding: 10px 15px;
  margin: 0 0px;
  text-decoration: none;
  border-radius: 8px;
  border-color: #ececec;
  transition: background-color 0.3s ease;
}
.adc_carrinho:hover {
  background-color: #e05656;
}

.album-details.active {
  display: block;
}

